.answer-cards-container .card {
  border: 1px solid gray;

  &::before {
    content: "📌";
    position: absolute;
    transform: scaleX(-1);
    top: -16px;
    left: -14px;
  }

  &::after {
    content: "📌";
    position: absolute;
    top: -10px;
    right: -12px;
  }
}
.answer-cards-container {
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.embiggen-final-score {
  animation: embiggen-final-score 1s ease-in-out alternate 4;
}

.end-screen {
  .card {
    border: 2px double black;
  }
  .card:nth-child(odd) {
    transform: rotate(3deg);
  }

  .card:nth-child(even) {
    transform: rotate(-3deg);
  }

  h5.card-title {
    font-family: "Courier New", Courier, monospace;
  }
}

.final-score {
  background-color: var(--yellow);
  box-shadow: 0 0 40px rgb(255 209 102);
  border-radius: 50%;
  font-weight: 600;
  text-decoration: underline 5px;
}

.final-score-text {
  color: var(--red);
}

.high-score-list-container {
  animation: pulse-shadow-red 1s ease-in-out infinite alternate;
}

.high-score-list-header {
  text-decoration: underline 4px solid black;
  animation: pulse-underline 1s ease-in-out infinite alternate;
}

.right-answer-card-shadow {
  box-shadow: 0 0 10px var(--green);
}

.wrong-answer-card-shadow {
  box-shadow: 0 0 10px var(--red);
}
