/* Bootstrap Breakpoints:
  xs: <576px (extra small devices, phones)
  sm: ≥576px (small devices, phones)
  md: ≥768px (medium devices, tablets)
  lg: ≥992px (large devices, desktops)
  xl: ≥1200px (extra large devices, large desktops)
  xxl: ≥1400px (extra extra large devices, larger desktops)
  
  --dBlue: rgb(7 59 76); 
*/

@use "./_endScreen.scss";
@use "./_startScreen.scss";
@use "./_questionScreen.scss";

/* Color palette: Watermelon Sorbet */
:root {
  --red: rgb(239 71 111);
  --yellow: rgb(255 209 102);
  --green: rgb(6 214 160);
  --blue: rgb(17 138 178);
}

@font-face {
  font-family: "Londrina Shadow";
  src: url("../fonts/LondrinaShadow-Regular.ttf");
}

.add-score-animation {
  animation: add-score-animation 1s ease-in-out;
}

body,
.btn,
.card-title,
input {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: var(--red);
  overflow-x: hidden; /* To avoid scroll bars on embiggen animation */
}

button:active {
  transform: scale(0.9);
}

.flip {
  animation: flip 1.5s ease-in-out;
}

h1,
h2,
.start-screen-photos-container.card-title,
label[for="playerNameInput"],
.no-high-score-header {
  font-family: "Londrina Shadow", sans-serif;
}

@keyframes add-score-animation {
  from {
    scale: 1;
    opacity: 1;
    background: var(--yellow);
    border-radius: 10px;
  }

  to {
    scale: 2;
    opacity: 0;
    background: var(--yellow);
    border-radius: 10px;
  }
}

@keyframes pulse-shadow-yellow-green {
  from {
    box-shadow: 0 0 20px var(--yellow);
  }

  to {
    box-shadow: 0 0 20px var(--green);
  }
}

@keyframes pulse-shadow-red {
  from {
    box-shadow: 0 4px 8px var(--red);
  }

  to {
    box-shadow: 0 4px 8px rgb(255 255 255 / 0%);
  }
}

@keyframes pulse-underline {
  from {
    text-decoration-color: rgb(255 255 255 / 0%);
  }

  to {
    text-decoration-color: var(--red);
  }
}

@keyframes slide-out {
  to {
    transform: translateX(-100%);
    scale: 0;
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
    scale: 0;
  }

  to {
    scale: 1;
  }
}

@keyframes slide-up-out {
  to {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes embiggen-final-score {
  from {
    scale: 1;
  }

  to {
    scale: 2;
  }
}

@keyframes flip {
  from {
    opacity: 1;
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
    opacity: 0;
  }
}

.site-container,
.question-btn-container .btn {
  box-shadow: 0 0 40px var(--yellow);
}

::view-transition-old(photo-container) {
  animation: slide-out 0.8s ease-in-out;
}

::view-transition-new(photo-container) {
  animation: slide-in 0.8s ease-in-out;
}

::view-transition-old(startscreen) {
  animation: slide-up-out 0.7s forwards;
}

.welcome-header,
.question-screen-container h2 {
  text-shadow: var(--yellow) 0 0 40px;
}
