/* Standard fade-transition (default) */
::view-transition-old(questionScreenContainer) {
  animation: slideOut 0.8s;
}

::view-transition-new(questionScreenContainer) {
  animation: slideIn 0.8s ease-in-out;
}
.questionScreenContainer {
  view-transition-name: questionScreenContainer;
}
@keyframes slideOut {
  to {
    transform: translateX(-100%);
    scale: 0;
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
    scale: 0;
  }
  to {
    scale: 1;
  }
}

.answerCardsContainer {
  view-transition-name: endScreen;
}

::view-transition-old(endScreen) {
  animation: fadeOut 1s ease-in-out;
}

::view-transition-new(endScreen) {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
