body {
  background-color: #1d7874;
}

.card:nth-child(odd) {
  transform: rotate(3deg);
}
.card:nth-child(even) {
  transform: rotate(-3deg);
}

.allPhotosContainer img {
  filter: hue-rotate(50deg);
  filter: contrast(5);
}

.photoContainer {
  view-transition-name: photoContainer;
}
::view-transition-old(photoContainer) {
  animation: slideOut 0.8s ease-in-out;
}

::view-transition-new(photoContainer) {
  animation: slideIn 0.8s ease-in-out;
}

@keyframes slideOut {
  to {
    transform: translateX(-100%);
    scale: 0;
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
    scale: 0;
  }
  to {
    scale: 1;
  }
}

.startBtnContainer {
  view-transition-name: startScreen;
}

::view-transition-old(startScreen) {
  animation: slideUpOut 0.7s forwards;
}
/* Removed because start page should only be removed, the new that replaces it comes from the photoContainer */
/* ::view-transition-new(startScreen) {
  animation: slideUpIn 0.7s forwards;
} */

@keyframes slideUpOut {
  to {
    transform: translateY(-100px);
    opacity: 0;
  }
}

/* @keyframes slideUpIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
} */
