body {
  background-color: #1d7874;
}

.photoContainer {
  view-transition-name: photoContainer;
}
::view-transition-old(photoContainer) {
  animation: slideOut 0.8s;
}

::view-transition-new(photoContainer) {
  animation: slideIn 0.8s ease-in-out;
}

@keyframes slideOut {
  to {
    transform: translateX(-100%);
    scale: 0;
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
    scale: 0;
  }
  to {
    scale: 1;
  }
}

.startBtnContainer {
  view-transition-name: startScreen;
}

.questionScreenContainer {
  view-transition-name: questionScreen;
}

::view-transition-old(startScreen) {
  animation: slideUpOut 0.7s forwards;
}

::view-transition-new(questionScreen) {
  animation: slideUpIn 0.7s forwards;
}

@keyframes slideUpOut {
  to {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes slideUpIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
