/* Standard fade-transition (default) */
::view-transition-old(root) {
  animation: slideOut 0.5s ease-in-out;
}

::view-transition-new(root) {
  animation: slideIn 0.5s ease-in-out;
}

/* @keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
} */

@keyframes slideOut {
  to {
    transform: translateX(-100%);
    scale: 0;
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
    scale: 0;
  }
  to {
    scale: 1;
  }
}
