/* Bootstrap Breakpoints:
  xs: <576px (extra small devices, phones)
  sm: ≥576px (small devices, phones)
  md: ≥768px (medium devices, tablets)
  lg: ≥992px (large devices, desktops)
  xl: ≥1200px (extra large devices, large desktops)
  xxl: ≥1400px (extra extra large devices, larger desktops)
*/

@font-face {
  font-family: "Londrina Shadow";
  src: url("/assets/fonts/LondrinaShadow-Regular.ttf");
}

h1,
h2,
.startPhotosContainer .card-title {
  font-family: "Londrina Shadow";
}

.btn,
.card-title {
  font-family: "Courier New", Courier, monospace;
}

.answerCardsContainer .card::before {
  content: "📌";
  position: absolute;
  transform: scaleX(-1);
  top: -16px;
  left: -14px;
}
.answerCardsContainer .card::after {
  content: "📌";
  position: absolute;
  top: -10px;
  right: -12px;
}

body {
  background-color: #1d7874;
  /* background-color: #9ab87a; */
  overflow-x: hidden; /* To avoid scroll bars on embiggen animation */
}

.startPhotosContainer {
  height: 35vh;
  overflow: hidden;
}

.card:nth-child(odd) {
  transform: rotate(3deg);
}
.card:nth-child(even) {
  transform: rotate(-3deg);
}

.startPhotosContainer img {
  filter: hue-rotate(50deg);
  filter: contrast(5);
}

.photoContainer {
  view-transition-name: photoContainer;
}
::view-transition-old(photoContainer) {
  animation: slideOut 0.8s ease-in-out;
}

::view-transition-new(photoContainer) {
  animation: slideIn 0.8s ease-in-out;
}

@keyframes slideOut {
  to {
    transform: translateX(-100%);
    scale: 0;
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
    scale: 0;
  }
  to {
    scale: 1;
  }
}

.startBtnContainer {
  view-transition-name: startScreen;
}

::view-transition-old(startScreen) {
  animation: slideUpOut 0.7s forwards;
}
/* Removed because start page should only be removed, the new that replaces it comes from the photoContainer */
/* ::view-transition-new(startScreen) {
  animation: slideUpIn 0.7s forwards;
} */

@keyframes slideUpOut {
  to {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.embiggenFinalScore {
  animation: embiggenFinalScore 1s ease-in-out alternate 4;
}

@keyframes embiggenFinalScore {
  from {
    scale: 1;
  }
  to {
    scale: 2;
  }
}

.addScore {
  animation: addScore 1s ease-in-out;
}
@keyframes addScore {
  from {
    scale: 1;
    opacity: 1;
    background: #ffc107;
    border-radius: 10px;
  }
  to {
    scale: 2;
    opacity: 0;
    background: #ffc107;
    border-radius: 10px;
  }
}

.flip {
  animation: flip 1.5s ease-in-out;
  /* transform-style: preserve-3d; */
}

@keyframes flip {
  from {
    opacity: 1;
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
    opacity: 0;
  }
}
/* .siteContainer {
  backface-visibility: hidden;
} */
/* body {
  perspective: 1000px; 
} */
