/* Bootstrap Breakpoints:
  xs: <576px (extra small devices, phones)
  sm: ≥576px (small devices, phones)
  md: ≥768px (medium devices, tablets)
  lg: ≥992px (large devices, desktops)
  xl: ≥1200px (extra large devices, large desktops)
  xxl: ≥1400px (extra extra large devices, larger desktops)
  
  --dBlue: rgb(7 59 76); 
*/

/* Color palette: Watermelon Sorbet */
:root {
  --red: rgb(239 71 111);
  --yellow: rgb(255 209 102);
  --green: rgb(6 214 160);
  --blue: rgb(17 138 178);
}

@font-face {
  font-family: "Londrina Shadow";
  src: url("/src/assets/fonts/LondrinaShadow-Regular.ttf");
}

.add-score-animation {
  animation: add-score-animation 1s ease-in-out;
}

.answer-cards-container .card::before {
  content: "📌";
  position: absolute;
  transform: scaleX(-1);
  top: -16px;
  left: -14px;
}

.answer-cards-container .card::after {
  content: "📌";
  position: absolute;
  top: -10px;
  right: -12px;
}

.answer-cards-container .card {
  border: 1px solid gray;
}

.answer-cards-container {
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

body,
.btn,
.card-title,
input {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: var(--red);
  overflow-x: hidden; /* To avoid scroll bars on embiggen animation */
}

button:active {
  transform: scale(0.9);
}

.btn-select-5 {
  background-color: var(--red);
}

.btn-select-10 {
  background-color: var(--yellow);
}

.btn-select-10:hover {
  background-color: #dcb14e;
}

.btn-select-all {
  background-color: var(--green);
}

.card:nth-child(odd) {
  transform: rotate(3deg);
}

.card:nth-child(even) {
  transform: rotate(-3deg);
}

.embiggen-final-score {
  animation: embiggen-final-score 1s ease-in-out alternate 4;
}

.end-screen .card {
  border: 2px double black;
}

.flip {
  animation: flip 1.5s ease-in-out;
}

.final-score {
  background-color: var(--yellow);
  box-shadow: 0 0 40px rgb(255 209 102);
  border-radius: 50%;
  font-weight: 600;
  text-decoration: underline 5px;
}

.final-score-text {
  color: var(--red);
}

h1,
h2,
.start-photos-container .card-title,
label[for="playerNameInput"],
.no-high-score-header {
  font-family: "Londrina Shadow", sans-serif;
}

.high-score-list-container {
  animation: pulse-shadow-red 1s ease-in-out infinite alternate;
}

.high-score-list-header {
  text-decoration: underline 4px solid black;
  animation: pulse-underline 1s ease-in-out infinite alternate;
}

input {
  animation: pulse-shadow-yellow-green 1s ease-in-out infinite alternate;
}

@keyframes add-score-animation {
  from {
    scale: 1;
    opacity: 1;
    background: var(--yellow);
    border-radius: 10px;
  }

  to {
    scale: 2;
    opacity: 0;
    background: var(--yellow);
    border-radius: 10px;
  }
}

@keyframes pulse-shadow-yellow-green {
  from {
    box-shadow: 0 0 20px var(--yellow);
  }

  to {
    box-shadow: 0 0 20px var(--green);
  }
}

@keyframes pulse-shadow-red {
  from {
    box-shadow: 0 4px 8px var(--red);
  }

  to {
    box-shadow: 0 4px 8px rgb(255 255 255 / 0%);
  }
}

@keyframes pulse-underline {
  from {
    text-decoration-color: rgb(255 255 255 / 0%);
  }

  to {
    text-decoration-color: var(--red);
  }
}

@keyframes slide-out {
  to {
    transform: translateX(-100%);
    scale: 0;
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
    scale: 0;
  }

  to {
    scale: 1;
  }
}

@keyframes slide-up-out {
  to {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes embiggen-final-score {
  from {
    scale: 1;
  }

  to {
    scale: 2;
  }
}

@keyframes flip {
  from {
    opacity: 1;
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
    opacity: 0;
  }
}

.next-question-btn {
  background-color: var(--red);
  box-shadow: 0 0 20px var(--red);
  color: black;
}

.next-question-btn:hover {
  transition: color 0.3s ease-in-out;
}

.photo-container {
  border: 2px double black;
  box-shadow: 0 0 20px var(--yellow);
  view-transition-name: photo-container;
}

.site-container,
.question-btn-container .btn {
  box-shadow: 0 0 40px var(--yellow);
}

.start-screen-container .btn {
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  border: 2px solid black;
}

.question-btn-container .btn:hover {
  box-shadow: 0 0 25px var(--red);
  transition: box-shadow 0.3s ease-in-out;
}

.right-answer-card-shadow {
  box-shadow: 0 0 10px var(--green);
}

.start-btn-container {
  view-transition-name: startscreen;
}

.start-photos-container {
  height: 35vh;
  overflow: hidden;
}

.start-photos-container img {
  filter: hue-rotate(50deg);
  filter: contrast(5);
}

::view-transition-old(photo-container) {
  animation: slide-out 0.8s ease-in-out;
}

::view-transition-new(photo-container) {
  animation: slide-in 0.8s ease-in-out;
}

::view-transition-old(startscreen) {
  animation: slide-up-out 0.7s forwards;
}

.welcome-header,
.question-screen-container h2 {
  text-shadow: var(--yellow) 0 0 40px;
}

.wrong-answer-card-shadow {
  box-shadow: 0 0 10px var(--red);
}
