/* Bootstrap Breakpoints:
  xs: <576px (extra small devices, phones)
  sm: ≥576px (small devices, phones)
  md: ≥768px (medium devices, tablets)
  lg: ≥992px (large devices, desktops)
  xl: ≥1200px (extra large devices, large desktops)
  xxl: ≥1400px (extra extra large devices, larger desktops)
  
  --dBlue: rgb(7 59 76); 
*/

/* Color palette: Watermelon Sorbet */
:root {
  --red: rgb(239 71 111);
  --yellow: rgb(255 209 102);
  --green: rgb(6 214 160);
  --blue: rgb(17 138 178);
}

@font-face {
  font-family: "Londrina Shadow";
  src: url("/src/assets/fonts/LondrinaShadow-Regular.ttf");
}

.add-score-animation {
  animation: add-score-animation 1s ease-in-out;
}

.answer-cards-container .card::before {
  content: "📌";
  position: absolute;
  transform: scaleX(-1);
  top: -16px;
  left: -14px;
}

